body {
    background-color: rgb(197, 157, 246);
    margin: 50%;
}
body{
    margin: 50px;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 10px rgb(201, 14, 14);
    font-size: 8vh;
}

#caption {
    align-self: center;
    font-size: 17px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    
}

div#tribute-data {
    background-color: rgba(255, 255, 255, 0.516);
    box-shadow: 20px 20px 20px #000000;
    font-family: Georgia;
    padding: 20px 20px;
    margin: 10px;
    margin-top: 50px;
}

h1.title-APJ {
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

#tribute-link {
    text-decoration: none;
    color: black;
}